* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
/*Artikel*/
article {
  max-width: 75vw;
  
}

/*Boxlayout*/
.ganzegr {
  min-height: 100vh;
  padding-top: 50px;
}
.ganzegr .ganzegr {
  min-width: 80vw;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.flexboxcontainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flexboxcontainer h2 {
  text-align: center;
}
.flexboxcontainer a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.flexboxcontainer a:hover {
}
.erstes {
  padding-top: 50px;
}
.linearbackground {
  background: linear-gradient(180deg, #5e5e5e, #383838);
  color: white;
}
.linearbackground .linearbackground {
  background: linear-gradient(0deg, #5e5e5e, #383838);
}
/*Projekte*/
.projekt-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.projekt-grid img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.projekt-grid a {
  background-color: rgba(0, 0, 255, 0.3);
}
.projekt-grid a:hover {
  background-color: rgba(0, 0, 155, 0.5);
}
/*Visitenkarten*/
.familienmitglied {
  max-width: 70vw;
  max-height: 50vh;
}
.familienmitglied img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.visitencontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}
.visitencontainer a {
  background: none;
}
.visitencontainer a:hover {
  background-color: none;
}
.visitenkartenhuelle {
  margin: 20px;
}
.visitenkarte {
  width: 300px;
  height: 200px;
  border: 2px solid grey;
  background-color: lightgrey;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 1px black;
  padding: 20px;
  color: black;
  overflow: hidden;
  transition: transform 1s;
}

.visitenkarte:hover {
/*  animation: getbig .25s ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;*/
  transform: scale(1.33, 1.33);
  box-shadow: 0px 0px 100px 20px white;
}
/*@keyframes getbig{
  0% {
    transform: scale(1,1);
    box-shadow: 2px 2px 10px 1px black;
  }
  100% {
    transform: scale(1.5,1.5);
    box-shadow: 20px 20px 100px 10px black;
  }
}*/
.visitenkarte:hover img {
}
.visitenkarte img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
/*Thorsten individuell*/
#beruf td {
  vertical-align: top;
  height: 3rem;
}
#beruf table, tr {
  border: 2px solid #4F81BD;
  max-width: 50%;
  border-collapse: collapse;
}
#beruf td {
  padding: 8px;
}

/*Mina individuell*/
#minahallo {
}
/*slider*/
.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
}

@keyframes slide_animation {
  0% {left:0px;}
  20% {left:0px;}
  30% {left:1200px;}
  70% {left:1200px;}
  80% {left:0px;}
  100% {left:0px;}

}
.slide-images {
  width: 2400px;
  height: 800px;
  margin: 0 0 0 -1200px;
  position: relative;
  animation-name: slide_animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
.img-container {
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
  z-index: 1;
}
/*Christa individuell*/
#chor a {
  text-decoration: underline;
}
/*Topbild*/
#topbild {
  height: 70vh;
  overflow: hidden;
  object-fit: cover;
}
/* Navigationsleiste*/
#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 99.9vw;
  z-index: 999999;
  overflow: visible;
  background-color: #333333;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav ul li {
  display: inline-block;
}
#nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background-color: #333333;
}
#nav a:hover {
  background-color: #111111;
}
#nav ul ul {
  display: none;
  position: absolute;
  top: 50px;
}
#nav ul li:hover > ul {
  display: inherit;
}
#nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}
#nav ul ul ul li {
  position: relative;
  top:-50px; 
  left:100%;
}
li > a:after { content:  ' +';  }
li > a:only-child:after { content: '';  }
